*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}




.header_1 {

                background-image: url('/photo/haker.jpg');
                background-size: cover;
                background-position: center;
                height: 700px;
    
       
}
.navbar{    
            top: 0;
            position: fixed;
            width: 100%;
            display: flex;  
            flex-direction: row;
            justify-content: space-between;
           justify-items: center;
            border-bottom: 1px solid white;
            background: rgba(0, 0, 0, 0.532);
}
.logo_phot{
             
             width: 70px;
            
}
.logo_phot img{     border-radius: 50%;
                    width: 100%;
                
}

.right_side{
               display: flex;
               justify-content: center;
               justify-items: center;
               
}
.right_side li{
                 list-style: none;
}

.right_side li a {
                      color: white;
                      text-decoration: none;
                      padding: 10px 20px;
                    display: inline-block;
                     
}

.right_side li a:hover{    border-bottom: 2px solid red;
                           
                          }

.head_line {   text-align: center;
                 font-family: monospace;
                 font-weight: 900;
                 padding: 30px;
                background-color: #ddd;
               margin-top: 30px;}

 .photo_section{  
                     margin-top: 20px;
                   
                    width: 1000px;
                   margin-left: 300px;
                  display: flex;
                  flex-wrap: wrap;
                  gap: 10px;
                  box-shadow: 8px 8px 8px 8px;
                  
               

 }  
 
 .photo_1{
               width: 450px;
               
               height: 450px;
               background-image: url('./photo/anemi1.jpg');
               background-size: 250px;
               background-repeat: no-repeat;
               background-position: top;

              position: relative;

              box-shadow: 2px 2px 2px 2px rgb(202, 177, 226);
 }
 
 .photo_2{
               width: 450px;
             
               height: 450px;
               background-image: url('./photo/anemi2.jpg');
               background-size: 250px;
               background-repeat: no-repeat;
               background-position: top;

               position: relative;
               box-shadow: 2px 2px 2px 2px rgb(216, 187, 243);

              
 }
 
 .photo_3{
               width:  450px;
             
               height: 450px;
               background-image: url('./photo/anemi3.jpg');
               background-size: 250px;
               background-repeat: no-repeat;
               background-position: top;
               position: relative;

               box-shadow: 2px 2px 2px 2px rgb(192, 171, 211);
 }
 
 .photo_4{
               width: 450px;
         
               height: 450px;
               background-image: url('./photo/anemi5.jpg');
               background-size: 250px;
               background-repeat: no-repeat;
               background-position: top;

              position: relative;
              box-shadow: 2px 2px 2px 2px rgb(204, 175, 232);
 }
 
 .photo_5{
               width: 450px;
             
               height: 450px;
               background-image: url('./photo/anemi6.jpg');
               background-size: 250px;
               background-repeat: no-repeat;
               background-position: top;
               position: relative;
               box-shadow: 2px 2px 2px 2px rgb(211, 182, 238);

              
 }
 
 .photo_6{
               width:  450px;
            
               height:  450px;
               background-image: url('./photo/womn-2.jpg');
               background-size: 250px;
               background-repeat: no-repeat;
               background-position: top;

               position: relative;
               box-shadow: 2px 2px 2px 2px rgb(214, 184, 243);

              
 }



         /*  Read more part */


.red_part{
              position: absolute;
              bottom: 20px;
              left: 140px; 
}

.red_part button:hover{background-color: cornflowerblue;}
  
.red_part button{
                    padding: 8px 10px;
                    font-weight: bold;
                    text-align: center;
                    border: none;
}   

/* second section */

.second_section{  

                  margin-top: 100px; 
                  display: flex;
                  width: 100%;
                  gap: 50px;
                  background-color: rgb(28, 28, 27);
                  padding: 20px;

                  
}

 .woman_photo{
          margin-left: 200px;
         width: 500px;
}

.woman_photo img{  width: 100%;
                     height: 100%;}

.paragraph_part{  margin-left: 300px;
                  width: 450px;
}

.paragraph_part  p{ color: white;}


.paragraph_part h1{ color: white;
                   font-family: serif;
                  font-weight: bold;
                  text-align: center; }