.header_1 {

                background-image: url('/photo/haker.jpg');
                background-size: cover;
                background-position: center;
                height: 700px;
    
       
}
